* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(96, 154, 231);
}

.box-navigation {
    width: 88%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-logo {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    color: rgb(183, 225, 241);
}

.box-buttons {
    width: 18vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.click {
    width: 8vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(65, 65, 187);
    background-color: white;
    border-style: none;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    box-shadow: 1px 3px 4px #00000080;
}

.face-logo {
    width: 27%;
    margin-right: 0.4rem;
}

.click2 {
    width: 8vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(6, 125, 180);
    background-color: white;
    border-style: none;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    box-shadow: 1px 3px 4px #00000080;
}

.twitter-logo {
    width: 30%;
    margin-right: 0.4rem;
}

.slider {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-one {
    width: 90vw;
    height: 70vh;
    background-image: url('../assets/screens/image_rotate.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.text-two, .text-five, .text-eight {
    color: white;
    background-color: rgb(96, 154, 231);
    font-size: 1.2rem;
    width: 18vw;
    margin-left: 2rem;
}

.text-tree, .text-six, .text-nine {
    color: white;
    font-size: 2.3rem;
    margin-left: 2rem;
}

.text-four, .text-seven, .text-ten {
    color: white;
    font-size: 2.3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.slide-two {
    width: 90vw;
    height: 70vh;
    background-image: url('../assets/screens/divoltis_porris-02.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.slide-tree {
    width: 90vw;
    height: 70vh;
    background-image: url('../assets/screens/divoltis_porris-01.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.click3, .click4 {
    width: 12vw;
    height: 8vh;
    border-radius: 50%;
    border-style: none;
    background-color: white;
    box-shadow: 1px 3px 4px #00000080;
}

.container-news {
    width: 100vw;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-news2 {
    width: 100vw;
    height: 106vh;
    display: flex;
    justify-content: center;
}

.box-itens {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-title {
    font-size: 1.7rem;
}

.box-images {
    width: 90vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

.box-itens2 {
    width: 68vw;
    height: 98vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advertising {
    height: 86%;
}

.title {
    width: 67vw;
    height: 7vh;
    font-size: 1.7rem;
}

.title2 {
    font-size: 1.2rem;
    color: rgb(6, 125, 180);
}

.photo-one {
    width: 28.5vw;
    height: 32vh;
    display: flex;
    align-items: flex-end;
    background-image: url('../assets/screens/highlight-01.png');
    background-size: cover;
}

.photo-two {
    width: 28.5vw;
    height: 32vh;
    display: flex;
    align-items: flex-end;
    background-image: url('../assets/screens/highlight-02.png');
    background-size: cover;
}

.photo-tree {
    width: 28.5vw;
    height: 32vh;
    display: flex;
    align-items: flex-end;
    background-image: url('../assets/screens/highlight-03.png');
    background-size: cover;
}

.photo-text, .photo-text2, .photo-text3 {
    width: 10vw;
    height: 4vh;
    color: white;
    background-color: #f1070799;
    margin-bottom: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-four, .photo-five, .photo-six, .photo-seven {
    width: 30vw;
    height: 48vh;
}

.image-four, .image-five, .image-six, .image-seven {
    width: 93%;
}

.container-news3 {
    width: 100vw;
    height: 106vh;
    display: flex;
    justify-content: center;
}

.box-texts {
    width: 27vw;
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title3 {
    color: rgb(6, 125, 180);
    font-size: 25px;
}

.text-twelve {
    width: 22vw;
}

.end-line {
    width: 94%;
    height: 0.2%;
    background-color: rgb(212, 208, 208);
}

.box-texts2, .box-texts3 {
    width: 30vw;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title4, .title5 {
    color: red;
    margin-left: 1rem;
    font-size: 28px;
}

.box-photo {
    width: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-eight, .image-nine, .image-ten, .image-eleven {
    height: 96%;
}

.box-titles, .box-titles2, .box-titles3, .box-titles4 {
    width: 42%;
    height: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.text-thirteen, .text-fifteen, .text-seventeen, .text-nineteen {
    color: red;
    width: 100%;
}

.text-fourteen, .text-sixteen, .text-eighteen, .text-fourt {
    width: 100%;
}