* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(96, 154, 231);
}

.box-navigation {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    color: rgb(183, 225, 241);
}

.box-buttons {
    width: 18vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.click {
    width: 8vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(65, 65, 187);
    background-color: white;
    border-style: none;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    box-shadow: 1px 3px 4px #00000080;
}

.face-logo {
    width: 27%;
    margin-right: 0.4rem;
}

.click2 {
    width: 8vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(6, 125, 180);
    background-color: white;
    border-style: none;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    box-shadow: 1px 3px 4px #00000080;
}

.twitter-logo {
    width: 30%;
    margin-right: 0.4rem;
}

.slider {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Slide {
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.slide-one {
    width: 90vw;
    height: 70vh;
    background-image: url('../assets/screens/image_rotate.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.text-two, .text-five, .text-eight {
    color: white;
    background-color: rgb(96, 154, 231);
    font-size: 1.2rem;
    width: 18vw;
    margin-left: 2rem;
}

.text-tree, .text-six, .text-nine {
    color: white;
    font-size: 2.3rem;
    margin-left: 2rem;
}

.text-four, .text-seven, .text-ten {
    color: white;
    font-size: 2.3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.slide-two {
    width: 90vw;
    height: 70vh;
    background-image: url('../assets/screens/divoltis_porris-02.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.slide-tree {
    width: 90vw;
    height: 70vh;
    background-image: url('../assets/screens/divoltis_porris-01.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.click3 {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    border-style: none;
    background-color: white;
    box-shadow: 1px 3px 4px #00000080;
    position: relative;
    left: 1.8rem;
}

.click4 {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    border-style: none;
    background-color: white;
    box-shadow: 1px 3px 4px #00000080;
    position: relative;
    right: 1.8rem;
}

.container-news {
    width: 100%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-news2 {
    width: 100%;
    height: 106vh;
    display: flex;
    justify-content: center;
}

.box-itens {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-title {
    font-size: 1.7rem;
}

.box-images {
    width: 90vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

.box-itens2 {
    width: 68vw;
    height: 98vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advertising {
    height: 86%;
}

.title {
    width: 67vw;
    height: 7vh;
    font-size: 1.7rem;
}

.title2 {
    font-size: 1.2rem;
    color: rgb(6, 125, 180);
}

.photo-one {
    width: 28.5vw;
    height: 32vh;
    display: flex;
    align-items: flex-end;
    background-image: url('../assets/screens/highlight-01.png');
    background-size: cover;
}

.photo-two {
    width: 28.5vw;
    height: 32vh;
    display: flex;
    align-items: flex-end;
    background-image: url('../assets/screens/highlight-02.png');
    background-size: cover;
}

.photo-tree {
    width: 28.5vw;
    height: 32vh;
    display: flex;
    align-items: flex-end;
    background-image: url('../assets/screens/highlight-03.png');
    background-size: cover;
}

.photo-text, .photo-text2, .photo-text3 {
    width: 10vw;
    height: 4vh;
    color: white;
    background-color: #f1070799;
    margin-bottom: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-four, .photo-five, .photo-six, .photo-seven {
    width: 30vw;
    height: 48vh;
}

.image-four, .image-five, .image-six, .image-seven {
    width: 93%;
}

.container-news3 {
    width: 100%;
    height: 106vh;
    display: flex;
    justify-content: center;
}

.box-texts {
    width: 27vw;
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title3 {
    color: rgb(6, 125, 180);
    font-size: 25px;
}

.text-twelve {
    width: 22vw;
}

.end-line {
    width: 94%;
    height: 0.2%;
    background-color: rgb(212, 208, 208);
}

.box-texts2, .box-texts3 {
    width: 30vw;
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title4, .title5 {
    color: red;
    margin-left: 1rem;
    font-size: 28px;
}

.box-photo {
    width: 94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-eight, .image-nine, .image-ten, .image-eleven {
    height: 96%;
}

.box-titles, .box-titles2, .box-titles3, .box-titles4 {
    width: 42%;
    height: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.text-thirteen, .text-fifteen, .text-seventeen, .text-nineteen {
    color: red;
    width: 100%;
}

.text-fourteen, .text-sixteen, .text-eighteen, .text-twenty {
    width: 100%;
}

.box-advertising {
    display: none;
}

.container-end {
    width: 100%;
    height: 20vh;
    background-color: rgb(54, 58, 83);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-return {
    width: 100%;
    height: 7vh;
    background-color: rgb(96, 154, 231);
    display: flex;
    justify-content: flex-end;
}

.return {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text-return {
    color: white;
    width: 11vw;
}

.box-texts-end {
    width: 80%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-end {
    color: white;
    width: 60vw;
}

@media (max-width: 768px) {
    .text {
        display: none;
    }

    .face-logo, .twitter-logo {
        margin-right: unset;
    }

    .click3 {
        left: 1.2rem;
    }

    .click4 {
        right: 1.2rem;
    }

    .text-two, .text-five, .text-eight {
        width: 31vw;
    }

    .text-tree, .text-six, .text-nine, .text-four, .text-seven, .text-ten {
        font-size: 2rem;
    }

    .photo-text, .photo-text2, .photo-text3 {
        width: 12vw;
    }

    .box-itens2 {
        width: 90vw;
    }

    .title {
        width: 90vw;
    }

    .photo-four, .photo-five, .photo-six, .photo-seven {
        width: 31vw;
    }

    .image-eight, .image-nine, .image-ten, .image-eleven {
        height: 80%;
    }

    .advertising {
        display: none;
    }

    .box-texts {
        width: 23vw;
    }

    .box-texts2, .box-texts3 {
        width: 35vw;
    }

    .return {
        width: 25%;
    }

    .text-return {
        width: 18vw;
    }

    .text-end {
        width: 49vw;
        font-size: 0.9rem;
    }
}

@media (max-width: 425px) {
    .container-navigation {
        height: 16.6vh;
    }

    .hamburguer-icon {
        width: 12%;
    }

    .box-navigation {
        height: 99%;
        align-items: flex-end;
    }

    .box-logo {
        width: 90%;
    }

    .image-logo {
        width: 90%;
    }

    .text {
        display: none;
    }

    .box-buttons {
        display: none;
    }

    .click3, .click4 {
        display: none;
    }

    .slider {
        height: 52vh;
    }

    .Slide {
        position: absolute;
        top: 130px;
    }

    .slide-one, .slide-two, .slide-tree {
        height: 39vh;
        background-size: 150%;
        background-position: center;
    }

    .text-two, .text-five, .text-eight {
        font-size: 0.9rem;
        width: 55vw;
        margin-left: unset;
        margin-bottom: 1rem;
    }

    .text-tree, .text-six, .text-nine, .text-four, .text-seven, .text-ten {
        display: none;
    }

    .container-news {
        height: 106vh;
    }

    .box-itens {
        height: 100vh;
    }

    .main-title {
        display: none;
    }

    .box-images {
        height: 96vh;
        flex-direction: column;
    }

    .photo-one, .photo-two, .photo-tree {
        width: 90vw;
        height: 29vh;
        background-size: 100%;
    }

    .photo-text, .photo-text2, .photo-text3 {
        width: 30vw;
    }

    .container-news2 {
        height: 228vh;
    }

    .box-itens2 {
        width: 90vw;
        height: 228vh;
        flex-wrap: unset;
        flex-direction: column;
    }

    .title {
        width: 90vw;
        height: 5vh;
        font-size: 1.4rem;
    }

    .photo-four, .photo-five, .photo-six, .photo-seven {
        width: 90vw;
        height: 54vh;
    }

    .image-four, .image-five, .image-six, .image-seven {
        width: 100%;
    }

    .advertising {
        display: none;
    }

    .container-news3 {
        height: 240vh;
        flex-direction: column;
        align-items: center;
    }

    .box-texts {
        width: 90vw;
    }

    .title3 {
        font-size: 22.3px;
    }

    .text-twelve {
        width: 90vw;
        font-size: 0.9rem;
    }

    .box-texts2, .box-texts3 {
        width: 99vw;
    }

    .title4, .title5 {
        font-size: 22px;
    }

    .box-advertising {
        width: 80%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .advertising2 {
        width: 70%;
    }

    .container-end {
        height: 26vh;
        justify-content: unset;
    }

    .return {
        width: 42%;
        justify-content: center;
    }

    .text-return {
        width: 30vw;
        font-size: 0.7rem;
    }

    .box-texts-end {
        width: 95%;
        height: 18vh;
    }

    .logo-end {
        display: none;
    }

    .text-end {
        width: 94vw;
        height: 12vh;
        font-size: 0.75rem;
    }
}